@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'bootstrap/dist/css/bootstrap.min.css';

::-webkit-scrollbar{
    width: 3px;
    
}
::-webkit-scrollbar-track {
    background: white;
   
  }
  ::-webkit-scrollbar-thumb {
    background: #FF6C22;
  
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #FF9209;
  }
 
  